body {
    background-color: gainsboro;
    margin-top: 3em;
}
h1{
    color:bisque;
    font-size: 10em;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
ul {
    padding: 0;
    margin-bottom: 0;
}
ul li {
    background-color: grey;
    border: 1px solid grey;
    list-style: none;
    padding: 5px;
}

input {
    background-color: grey;
    color:white;
    width: 100%;
}